WebContent/WEB-INF/services/LabratoryService/cashierservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  targetNamespace="http://www.example.com/CashierService" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:mh="http://www.example.com/CashierService" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:message name="paymentRequest">
    <wsdl:part name='patientId' type='xsd:string'/>
  </wsdl:message>

  <wsdl:message name="paymentResponse">
    <wsdl:part name='receipt' type='xsd:string'/>
  </wsdl:message>

  <wsdl:message name="notifyMedicineReadyRequest">
    <wsdl:part name='patientId' type='xsd:int'/>
  </wsdl:message>

  <wsdl:portType name="paymentServicePortType">

    <wsdl:operation name="DoPayment">
      <wsdl:input message="mh:paymentRequest"/>
      <wsdl:output message="mh:paymentResponse"/>
    </wsdl:operation>

    <wsdl:operation name="notifyMedicineReady">
      <wsdl:input message="mh:notifyMedicineReadyRequest"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding type="mh:paymentServicePortType" name="PaymentServiceBinding">
     <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

     <wsdl:operation name="DoPayment">
       <soap:operation soapAction="http://example.com/DoPayment"/>
       <wsdl:input><soap:body use="literal" namespace="http://www.example.com/CashierService" /></wsdl:input>
       <wsdl:output><soap:body use="literal" namespace="http://www.example.com/CashierService" /></wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="notifyMedicineReady">
       <soap:operation soapAction="http://example.com/notifyMedicineReady"/>
       <wsdl:input><soap:body use="literal" namespace="http://www.example.com/CashierService" /></wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
	<wsdl:service name="PaymentService-rpc">
		<wsdl:port binding="mh:PaymentServiceBinding" name="PaymentServicePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
 
</wsdl:definitions>