src/PharmaTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://www.example.org/PharmaTypes"
	xmlns:tns="http://www.example.org/PharmaTypes" xmlns="http://www.w3.org/2001/XMLSchema">

	<complexType name='PrescriptionListType'>
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="PrescriptionItem" type="tns:Prescription"></element>
		</sequence>
	</complexType>

	<complexType name="Prescription">
		<all>
			<element maxOccurs="1" minOccurs="1" name='Description' type='string' />
			<element maxOccurs="1" minOccurs="1" name='Quantity' type='int' />
		</all>

	</complexType>
</schema>